@import "../../styles/utils";

.hac-main-container {
  width: 100%;
  padding-top: toRem(52);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: 0.3s all ease;
}
