@import "../../styles/utils";

.hac-main-container {
  width: 100%;
  padding-top: toRem(40);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: 0.3s all ease;

  &.--isnavopen {
  }
}

@media (max-width: toRem(980)) {
  .hac-main-container {
    align-items: flex-start;
    .hac-main-playground {
      max-width: 80%;
      margin-left: toRem(48);
    }
  }
}

@media (max-width: toRem(980)) {
  .hac-main-container {
    .hac-main-playground {
    }
  }
}
