@import "../../../styles/utils";

.navigation-list-item {
  display: flex;
  align-items: center;
  height: toRem(40);
  margin-bottom: toRem(16);
  font-size: toRem(18);

  &:hover {
    cursor: pointer;
  }

  &.is-selected {
    font-weight: bold;
  }

  // Margin beetween icon-text
  .hac-icon {
    margin-right: toRem(12);
  }
}
