@import "../../../styles/utils.scss";
@import "../../../styles/theme.scss";

.navigation-list-item {
  display: flex;
  align-items: center;
  height: toRem(40);
  margin-bottom: toRem(16);
  font-size: toRem(18);
}
