@import "../../../styles/utils";

.hac-theme-switch {
  width: toRem(160);
  height: toRem(160);
  border-radius: toRem(160);
  border: 2px solid transparent;
  position: absolute;
  bottom: -132px;
  z-index: 999;
  transition: transform linear 0.8s;
  transform: rotate(90deg);

  &.is-light {
    transform: rotate(90deg);
    .hac-theme-moon {
      background-color: black;
    }
  }
  &.is-dark {
    transform: rotate(270deg);
    .form.form-circle {
      background-color: white !important;
      transition: all ease-in-out 1.2s;
    }
    .form.form-triangle {
      border-bottom-color: white !important;
      transition: all ease-in-out 1.2s;
    }
    .hac-theme-moon {
      background-color: white;
    }
  }

  .hac-theme-sun,
  .hac-theme-moon {
    transform: scale(0.8);
  }
  .hac-theme-sun {
    position: absolute;
    top: 56px;
    left: -29px;
    width: 48px;
    height: 48px;
    background-color: transparent;
    border-radius: 50%;
    transition: all 1.2s ease-in-out;
    &:hover {
      cursor: pointer;
    }
  }
  .hac-theme-moon {
    position: absolute;
    top: 56px;
    right: -24px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transition: all 1.2s ease-in-out;
    &:hover {
      cursor: pointer;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(0.8);
  }
  to {
    transform: rotate(360deg) scale(0.8);
  }
}
