@import "../../../styles/utils";

.hac-tabbar-nav {
  width: inherit;
  display: flex;
  flex-direction: column;
  margin: toRem(16) 0;
  color: var(--font-color-inverted);

  &-container {
    display: flex;
    padding-left: toRem(48);

    .hac-tabbar-nav-item {
      display: flex;
      align-items: center;
      padding: toRem(4) toRem(8);
      background-color: var(--bg-color-inverted);
      border-top-left-radius: toRem(6);
      border-top-right-radius: toRem(6);

      &-icon {
        transform: scale(0.8);
      }
      &-title {
        margin-left: toRem(6);
        font-size: toRem(18);
      }
    }
  }

  &-content {
    color: var(--font-color);
    height: 200px;
    background-color: #d3d3d3;
    padding: toRem(8);
    margin: 0 toRem(48);
    min-width: toRem(320);
    border-top-right-radius: toRem(16);
    border-bottom-right-radius: toRem(16);
    border-bottom-left-radius: toRem(16);
  }
}

@media (max-width: toRem(980)) {
  .hac-tabbar-nav {
    &-container {
      padding-left: toRem(12);
    }
    &-content {
      margin: 0 toRem(12);
    }
  }
}
