@import "../../../styles/utils";

.navigation-list {
  visibility: hidden;

  margin-top: toRem(72);
  margin-right: toRem(60);

  &.--isnavopen {
    visibility: visible;

    animation-name: slide-in-navlist;
    animation-duration: 1.2s;
  }
}

@keyframes slide-in-navlist {
  from {
    transform: translateX(toRem(12));
  }
  to {
    transform: translateX(toRem(0));
  }
}

@media (max-width: toRem(1080)) {
  .navigation-list {
    margin-right: 0;
  }
}
