@import "../../../styles/utils";

// TODO: Add effect when items vanish

.navigation-list {
  visibility: hidden;

  min-width: toRem(160);
  margin-top: toRem(72);
  margin-right: toRem(40);
  padding: 0;

  &.--isnavopen {
    visibility: visible;

    animation-name: slide-in-navlist;
    animation-duration: 1.2s;
  }
}

@keyframes slide-in-navlist {
  from {
    transform: translateX(toRem(12));
  }
  to {
    transform: translateX(toRem(0));
  }
}

@media (max-width: toRem(1080)) {
  .navigation-list {
    margin-right: 0;
  }
}

@media (max-width: toRem(980)) {
  .navigation-list {
    min-width: initial;
  }
}
