/* Generic Rules
 - Dont' assign colors in any other file then in this, cause sass is unavailable to transpile variables on build time.
*/

:root {
  --box-shadow: -1px 5px 21px 5px #d9d9d9;
  --box-shadow-inset: -1px 0px 6px 4px #a4a2a2 inset;
}

[data-theme="light"] {
  --bg-color: #fcfcfc;
  --font-color: #121b19;

  // Logo colors
  --logo-inner-bg-color: #fcfcfc;
  --logo-border-color: #121b19;
  --logo-head-color: #121b19;
  --logo-head-border: #fcfcfc;
  --logo-body-color: #fcfcfc;
  --logo-body-border: #121b19;
  --logo-eye-color: #fcfcfc;

  // Main Container colors
  --bg-color-main: #ddd;

  // Navigation
  --toggler-color: #121b19;
  --toggler-color-inverted: #fcfcfc;
}

[data-theme="dark"] {
  --bg-color: #121b19;
  --font-color: #fcfcfc;

  // Logo colors
  --logo-inner-bg-color: #121b19;
  --logo-border-color: #fcfcfc;
  --logo-head-color: #fcfcfc;
  --logo-head-border: #121b19;
  --logo-body-color: #121b19;
  --logo-body-border: #fcfcfc;
  --logo-eye-color: #121b19;

  // Main Container colors
  --bg-color-main: #ddd;

  // Navigation
  --toggler-color: #fcfcfc;
  --toggler-color-inverted: #121b19;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}
