/* Generic Rules
 - Dont' assign colors in any other file then in this, cause sass is unavailable to transpile variables on build time.
*/

:root {
  --bg-color  : #fcfcfc;
  --font-color: #121b19;
}

[data-theme="light"] {
  --bg-color  : #fcfcfc;
  --font-color: #121b19;
}

[data-theme="dark"] {
  --bg-color  : #121b19;
  --font-color: #fcfcfc;
}

body {
  background-color: var(--bg-color);
  color           : var(--font-color);
}