@import "../../styles/utils.scss";
@import "../../styles/theme.scss";

// Logo variables
$logo-size: toRem(40);
// Head variables
$head-size: toRem(22);
$neck-size: toRem(10);

.hac-logo {
  width: $logo-size;
  height: $logo-size;
  position: relative;
  overflow: hidden;

  background-color: var(--logo-inner-bg-color);
  border: 2px solid var(--logo-border-color);
  border-radius: 100%;

  &-head {
    width: $head-size;
    height: $head-size;
    position: absolute;
    left: toRem(8);
    top: toRem(4);

    background-color: var(--logo-head-color);
    border: 1px solid var(--logo-head-border);
    border-radius: 100%;
    z-index: 24;
  }
  &-neck {
    width: $neck-size;
    height: $neck-size;
    position: absolute;
    left: toRem(15.4);
    top: toRem(20);

    background-color: var(--logo-head-color);
    border-radius: 90%;
    z-index: 24;
  }
  &-eye {
  }
  &-body {
    width: toRem(20);
    height: toRem(30);
    position: absolute;
    left: toRem(9.5);
    top: toRem(20);

    background-color: var(--logo-body-color);
    border: 1px solid var(--logo-body-border);
    border-radius: 100%;
    z-index: 23;
  }
}
