@import "../../styles/utils";

.hac-icon {
  width: toRem(40);
  height: toRem(40);
  border-radius: 100%;
  border: 2px solid black;
  background: #e8e8e8;
  position: relative;
  overflow: hidden;
}
