@import "../../styles/utils";
@import "../../styles/theme";

// (Header height - Toggle height) / 2
$topAlignment: (toRem(80) - toRem(40)) / 2;

.navigation {
  // Styling for the Navigation container
  &-container {
    position: absolute;
    right: toRem(12);
    top: $topAlignment;
    z-index: 999;
  }
}
