@import "../../styles/utils.scss";
@import "../../styles/theme.scss";

/**
 - Header Var (used to position navigation correctly)
**/
$header-height: toRem(80);

.navigation {
  // Styling for the Navigation container
  &-container {
    position: absolute;
    right: toRem(12);
    top: $header-height + toRem(12);
    z-index: 999;
  }
}
