@import "../../../styles/utils";

$light: #fff;
$dark: #000;
$none: #e8e8e8;

// Accessory icon
.hac-icon {
  .line,
  .left-eye,
  .right-eye {
    position: absolute;
  }
  .glasses {
    .line {
      left: toRem(2);
      top: calc(50% - 6px / 2);
      width: toRem(32);
      height: toRem(2);
      background-color: $light;
      border: toRem(2) solid $dark;
    }
    .left-eye {
      left: toRem(3);
      top: toRem(13);
      width: toRem(12);
      height: toRem(12);
      border-radius: 100%;
      background-color: $light;
      border: toRem(2) solid $dark;
      z-index: 1;
    }
    .right-eye {
      right: toRem(3);
      top: toRem(13);
      width: toRem(12);
      height: toRem(12);
      border-radius: 100%;
      background-color: $light;
      border: toRem(2) solid $dark;
      z-index: 1;
    }
  }
}

// Selected Accessory state
.is-selected {
  .hac-icon {
    .line {
      background-color: $dark;
    }
    .left-eye {
      background-color: $dark;
    }
    .right-eye {
      background-color: $dark;
    }
  }
}
