@import "../../../styles/utils";

$light: #fff;
$dark: #000;
$none: #e8e8e8;

// Body Icon
.hac-icon {
  .body-head,
  .body-leftarm,
  .body-rightarm,
  .body-main,
  .body-leftfoot,
  .body-rightfoot {
    position: absolute;
  }
  .body-head {
    //TODO: Apply everywhere else possible 50% - (width + border * 2) / 2
    $size: toRem(10);
    top: toRem(2);
    left: calc(50% - 14px / 2);
    width: $size;
    height: $size;
    border-radius: 100%;
    border: toRem(2) solid $dark;
    background-color: $light;
    z-index: 2;
  }
  .body-leftarm {
    top: toRem(14);
    left: toRem(11);
    width: toRem(2);
    height: toRem(8);
    border-radius: 20%;
    border: toRem(2) solid $dark;
    background-color: $light;
    transform: rotate(45deg);
  }
  .body-rightarm {
    top: toRem(14);
    right: toRem(11);
    width: toRem(2);
    height: toRem(8);
    border-radius: 20%;
    border: toRem(2) solid $dark;
    background-color: $light;
    transform: rotate(135deg);
  }
  .body-main {
    top: toRem(10);
    left: calc(50% - 8px / 2);
    width: toRem(4);
    height: toRem(16);
    border-radius: 20%;
    border: toRem(2) solid $dark;
    background-color: $light;
    z-index: 1;
  }
  .body-leftfoot {
    top: toRem(26);
    left: toRem(13);
    width: toRem(2);
    height: toRem(8);
    border-radius: 20%;
    border: toRem(2) solid $dark;
    background-color: $light;
    transform: rotate(30deg);
  }
  .body-rightfoot {
    top: toRem(26);
    right: toRem(13);
    width: toRem(2);
    height: toRem(8);
    border-radius: 20%;
    border: toRem(2) solid $dark;
    background-color: $light;
    transform: rotate(150deg);
  }
}

// Selected Body state
.is-selected {
  .hac-icon {
    .body-head {
      background-color: $dark;
    }
    .body-leftarm {
      background-color: $dark;
    }
    .body-rightarm {
      background-color: $dark;
    }
    .body-main {
      background-color: $dark;
    }
    .body-leftfoot {
      background-color: $dark;
    }
    .body-rightfoot {
      background-color: $dark;
    }
  }
}
