@import "../../../styles/utils";

$light: #fff;
$dark: #000;
$none: #e8e8e8;

// Face Icon
.hac-icon {
  .face,
  .body {
    position: absolute;
    box-sizing: border-box;
  }
  .face {
    $size: toRem(22);
    width: $size;
    height: $size;
    border-radius: $size;
    background-color: $light;
    border: toRem(2) solid $dark;
    left: calc(50% - 22px / 2);
    top: toRem(4);
    z-index: 2;
  }
  .body {
    $width: toRem(24);
    $height: toRem(28);
    width: $width;
    height: $height;
    border-radius: 60%;
    background-color: $light;
    border: toRem(2) solid $dark;
    left: calc(50% - 24px / 2);
    top: toRem(16);
  }
}

// Selected Face state
.is-selected {
  .hac-icon {
    .face {
      background-color: $dark;
    }
  }
}
