@import "../../../styles/utils";

// TODO: Move when finished
$light: #fff;
$dark: #000;
$none: #e8e8e8;

// Hair icon
.hac-icon {
  .hair-face,
  .hair-form1,
  .hair-form2 {
    position: absolute;
  }
  .hair-face {
    $size: toRem(18);
    top: calc(50% - 22px / 2);
    left: calc(50% - 22px / 2);
    width: $size;
    height: $size;
    border-radius: 100%;
    border: toRem(2) solid $dark;
    background-color: $light;
    z-index: 2;
  }
  .hair-form1 {
    top: toRem(7);
    left: toRem(16);
    width: toRem(14);
    height: toRem(13);
    border-radius: 36% 64% 7% 93% / 12% 100% 0% 88%;
    border: toRem(2) solid $dark;
    background-color: $light;
    z-index: 3;
  }
  .hair-form2 {
    $size: toRem(12);
    top: toRem(6);
    left: toRem(6);
    width: $size;
    height: $size;
    border-radius: 36% 64% 7% 93% / 12% 100% 0% 88%;
    border: toRem(2) solid #000;
    background-color: #fff;
    transform: rotate(310deg);
  }
}

// Selected Hair state
.is-selected {
  .hac-icon {
    .hair-form1 {
      background-color: $dark;
    }
    .hair-form2 {
      background-color: $dark;
    }
  }
}
