@import "../../../styles/utils";

$light: #fff;
$dark: #000;
$none: #e8e8e8;

// Mouth icon
.hac-icon {
  .mouth-shape,
  .teeth,
  .tongue {
    position: absolute;
  }
  .mouth-shape {
    top: toRem(14);
    left: toRem(4);
    width: toRem(28);
    height: toRem(14);
    border: toRem(2) solid $dark;
    background-color: $light;
    border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
    overflow: hidden;

    .teeth {
      top: toRem(-5);
      left: toRem(-2);
      width: toRem(28);
      height: toRem(6);
      border: toRem(2) solid $dark;
      background-color: $light;
    }
    .tongue {
      bottom: toRem(-8);
      left: toRem(2);
      width: toRem(20);
      height: toRem(10);
      border: toRem(2) solid $dark;
      background-color: $light;
      border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
      overflow: hidden;
      transform: rotate(180deg);
    }
  }
}

// Selected Mouth state
.is-selected {
  .hac-icon {
    .mouth-shape {
      background-color: $dark;
    }
  }
}
