@import "../../../styles/utils";

$light: #fff;
$dark: #000;
$none: #e8e8e8;

// Nose icon
.hac-icon {
  .nose-shape,
  .nostril-1,
  .nostril-2 {
    position: absolute;
  }
  .nose-shape {
    $size: toRem(18);
    top: calc(50% - 10px);
    left: calc(50% - 11px);
    width: $size;
    height: $size;
    border-radius: 20% 10% 50% 10%;
    border: toRem(2) solid $dark;
    background-color: $light;
    transform: rotate(45deg);
  }
  .nostril-1 {
    $size: toRem(10);
    top: 14px;
    left: 2px;
    width: $size;
    height: $size;
    border-radius: 100%;
    border: 2px solid $dark;
    border-right-color: $light;
    background-color: $light;
    z-index: 1;
  }
  .nostril-2 {
    $size: toRem(10);
    top: 14px;
    right: 2px;
    width: $size;
    height: $size;
    border-radius: 100%;
    border: 2px solid $dark;
    border-left-color: $light;
    background-color: $light;
    z-index: 1;
  }
}

// Selected Face state
.is-selected {
  .hac-icon {
    .nose-shape {
      background-color: $dark;
    }
    .nostril-1 {
      border-right-color: $dark;
      background-color: $dark;
    }
    .nostril-2 {
      border-left-color: $dark;
      background-color: $dark;
    }
  }
}
