@import "../../styles/utils.scss";
@import "../../styles/theme.scss";

.hac-main-playground {
  background: var(--bg-color-main);
  width: 100%;
  height: toRem(400);
  border-radius: toRem(16);
  max-width: toRem(1120);

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: var(--box-shadow-inset);
  -webkit-box-shadow: var(--box-shadow-inset);
  -moz-box-shadow: var(--box-shadow-inset);
}
