@import "../../styles/utils";

.hac-main-playground {
  position: relative;
  background: var(--bg-color-main);
  width: 100%;
  height: toRem(400);
  border-radius: toRem(16);
  max-width: toRem(480);
  overflow: hidden;

  box-shadow: var(--box-shadow-inset);
  -webkit-box-shadow: var(--box-shadow-inset);
  -moz-box-shadow: var(--box-shadow-inset);
}
