@import "../../styles/utils";

.hac-header {
  height: toRem(80);
  border-bottom: 1px solid #ddd;

  display: flex;
  align-items: center;
  justify-content: center;

  span:first-child {
    margin-right: toRem(16);
  }
  span:not(:first-child) {
    margin-left: toRem(16);
  }

  span {
    font-weight: 700;
    font-size: toRem(28);
  }

  //Increase Logo size
  .hac-logo {
    transform: scale(1.4);
  }
}

@media (max-width: toRem(480)) {
  .hac-header {
    span {
      font-size: toRem(22);
    }
    justify-content: flex-start;
    padding-left: toRem(24);
  }
}
