@import "../../../styles/utils";
@import "../../../styles/theme";

$transition-time: 0.6s;

// Styling for the Navigation toggler
.navigation-toggle {
  width: toRem(40);
  height: toRem(40);
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  right: 0;

  // Override btn behaviour
  outline: none;
  text-align: initial;
  border: none;
  background: transparent;

  &:hover {
    cursor: pointer;
  }

  &.--isopen {
    .line {
      background: transparent;
      transition: $transition-time all ease;

      &:before {
        top: toRem(16.5);
        transform: rotate(45deg);

        transition: $transition-time all ease;
      }
      &:after {
        top: toRem(16.5);
        transform: rotate(315deg);

        transition: $transition-time all ease;
      }
    }
  }

  .line {
    height: toRem(6);
    width: toRem(28);
    background: var(--toggler-color);
    transition: $transition-time all ease;

    &:before {
      position: absolute;
      top: toRem(6);
      height: toRem(6);
      width: toRem(28);
      content: "";
      background: var(--toggler-color);

      transition: $transition-time all ease;
    }
    &:after {
      position: absolute;
      top: toRem(28);
      height: toRem(6);
      width: toRem(28);
      content: "";
      background: var(--toggler-color);

      transition: $transition-time all ease;
    }
  }
}
