@import "./styles/utils";

// TODO: Resolve multiple loading of theme

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: toRem(16);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
