@import "../../../styles/utils";

.form-selection {
  display: inline-block;
  width: toRem(60);
  height: toRem(60);
  border-radius: 20%;
  margin: toRem(8);
  background-color: #e8e8e8;
  border: 4px solid transparent;

  // Content
  &-content-container {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  &:hover {
    cursor: pointer;
    border: 4px solid #a3a3a3;
  }

  // Selected state
  &.is-selected {
    border: 4px solid black;
  }
}
